@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 6px grey;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #f68a1e;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
